header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body{
    background-color: '#efeee7';
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: '#333333';
    margin: 0;
    padding: 0
}

h2 {
    margin-left: 30px
}

#bio-image{
    margin-left: 30px;
    float:left;
    margin-right: 20px
}

#main-bio {
    float:left;
    width: 70%;
    
}

#contact-info {
    float: left;
    width: 30%
}